.card-container > * {
  font-family: Arial, Helvetica, sans-serif !important;
}

.card-container {
  text-align: center;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  width: 1000px;
  height: 1430px;
  margin: 0 auto;
  /* padding: 1.5rem; */
  background-color: white;
}

.card-image {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 1rem !important;
  padding: 40px;
}

.card-paragraph {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}
.patient-sticker {
  border-style: solid;
  border-color: black;
  height: 150px;
  width: 350px;
  margin-right: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-section {
  display: flex;
  justify-content: space-between;
}

.top-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 64px;
  gap: 16px;
}
.name-detail {
  display: flex;
  padding-left: 44px;
}
.name-detail-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.check-box {
  border-style: solid;
  border-color: black;
  height: 12px;
  width: 12px;
  margin-left: 40px;
}
.list-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.space-bet {
  margin-left: 8px;
}

.name-detail {
  display: flex;
  padding-left: 44px;
}

.medicine-list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.medicine-cost-title {
  display: flex;
  padding-left: 44px;
  text-decoration: underline;
}

.medicine-cost {
  display: flex;
  padding-left: 44px;
}

.more-info {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.more-info-title {
  display: flex;
  padding-left: 44px;
  text-decoration: underline;
}

.moreinfo {
  display: flex;
  padding-left: 80px;
}

.sig-sign {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tab-medicine {
  width: 300px;
  display: flex;
  margin-left: 44px;
}
.heading-medd {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tab-unit {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-cost {
  width: 100px;
}
