@import "../../var.css";

.calendar-container {
  margin: 0 16px 32px;
  background-color: var(--grey-color);
  padding: 8px 64px 64px 64px;
  border-radius: 20px;
  height: calc(100% - 130px);
  box-shadow: rgba(0, 0, 0, 0.32) 0px 3px 8px;
}

.cyclelink {
  background-color: var(--primary-color);
  color: var(--white-color);
  width: 90%;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
  height: fit-content;
}
