.recheckmedicinebody {
  vertical-align: top;
}
.recheckmedicineheader {
  padding-bottom: 16px;
}

.quantity {
  text-align: end;
  padding-left: 24px;
}
.inventory,
.size {
  margin-left: 16px;
  font-size: 20px;
  margin-top: 8px;
  text-align: center;
  vertical-align: top;
}
.recheckmedicine {
  height: 5vh;
  padding: 32px 20%;
  margin-top: 24px;
  width: 100%;
  color: var(--primary-color);
  border-collapse: separate;
  border-spacing: 0 8px;
  vertical-align: top;
}

.notefrompharmacy {
  display: flex;
  justify-content: flex-start;
}

.table-container-recheck-2 {
  margin: 0 16px 32px;
  background-color: var(--grey-color);
  padding: 16px;
  border-radius: 20px;
  min-height: calc(100vh - 150px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}
